/* MadCap Table Style: */

/*<meta Version="9" />*/

@media print
{
	mcTableStyle
	{
		margin-left: 20mm;
		margin-right: 0px;
		margin-top: 0px;
		margin-bottom: 1mm;
	}

	mcTableColumnStyle
	{
		
	}

	mcTableColumnStyle
	{
		
	}

	mcTableHeadStyle
	{
		
	}

	mcTableBodyStyle
	{
		
	}

	mcTableFootStyle
	{
		
	}
}

mcTableStyle
{
	name: before;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 12px;
	border-spacing-x: 0;
	border-spacing-y: 0;
	border-collapse: collapse;
	border-left-color: #000000;
	border-right-color: #000000;
	border-top-color: #000000;
	border-bottom-color: #000000;
	border-top-style: none;
	border-bottom-style: none;
	border-right-style: none;
	border-left-style: none;
	cell-padding-top: 0pt;
	cell-padding-left: 0pt;
	cell-padding-right: 0pt;
	cell-padding-bottom: 0pt;
	max-id: 5;
}

mcTableColumnStyle
{
	separator-style: none;
	ruler-style: none;
	name: Column1;
	id: 0;
	cell-content-style-tag: p;
	cell-content-style-class: Before;
	text-align: left;
	vertical-align: top;
	size: 25mm;
}

mcTableColumnStyle
{
	span: 1;
	id: 5;
	name: Column2;
	cell-content-style-tag: p;
	cell-content-style-class: table;
	text-align: left;
	vertical-align: top;
}

mcTableHeadStyle
{
	span: 1;
	background-color: #e5e5e5;
	separator-style: solid;
	separator-width: 2pt;
	separator-color: #000000;
	name: Header1;
	id: 3;
}

mcTableBodyStyle
{
	span: 2;
	separator-style: none;
	ruler-style: none;
	name: Body1;
	id: 1;
	text-align: left;
	vertical-align: top;
	cell-content-style-class: table;
}

mcTableFootStyle
{
	name: Footer1;
	id: 4;
}


/* Cell Styles: */
 
@media print
{
	.TableStyle-before
	{
		margin-left: 20mm;
		margin-right: 0px;
		margin-top: 0px;
		margin-bottom: 1mm;
		border-spacing: 0px 0px;
	}
}

.TableStyle-before
{
	border-collapse: collapse;
	border-left-style: none;
	border-left-color: #000000;
	border-right-style: none;
	border-right-color: #000000;
	border-top-style: none;
	border-top-color: #000000;
	border-bottom-style: none;
	border-bottom-color: #000000;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 12px;
	border-spacing: 0px 0px;
}

.TableStyle-before-Column-Column1
{
	width: 25mm;
}

.TableStyle-before-Column-Column2
{
	
}

.TableStyle-before-Head-Header1
{
	
}

.TableStyle-before-HeadI-Column1-Header1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	text-align: left;
	vertical-align: top;
	border-right-style: none;
	background-color: #e5e5e5;
}

.TableStyle-before-HeadI-Column1-Header1 p
{
	
}

.TableStyle-before-HeadE-Column1-Header1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	text-align: left;
	vertical-align: top;
	border-right-style: none;
	background-color: #e5e5e5;
	border-bottom-width: 2pt;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-before-HeadE-Column1-Header1 p
{
	
}

.TableStyle-before-HeadF-Column1-Header1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	text-align: left;
	vertical-align: top;
	border-right-style: none;
	background-color: #e5e5e5;
	border-bottom-width: 2pt;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-before-HeadF-Column1-Header1 p
{
	
}

.TableStyle-before-HeadH-Column1-Header1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	text-align: left;
	vertical-align: top;
	border-right-style: none;
	background-color: #e5e5e5;
}

.TableStyle-before-HeadH-Column1-Header1 p
{
	
}

.TableStyle-before-HeadD-Column1-Header1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	text-align: left;
	vertical-align: top;
	background-color: #e5e5e5;
	border-bottom-width: 2pt;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-before-HeadD-Column1-Header1 p
{
	
}

.TableStyle-before-HeadC-Column1-Header1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	text-align: left;
	vertical-align: top;
	border-right-style: none;
	background-color: #e5e5e5;
}

.TableStyle-before-HeadC-Column1-Header1 p
{
	
}

.TableStyle-before-HeadB-Column1-Header1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	text-align: left;
	vertical-align: top;
	border-right-style: none;
	background-color: #e5e5e5;
}

.TableStyle-before-HeadB-Column1-Header1 p
{
	
}

.TableStyle-before-HeadA-Column1-Header1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	text-align: left;
	vertical-align: top;
	background-color: #e5e5e5;
}

.TableStyle-before-HeadA-Column1-Header1 p
{
	
}

.TableStyle-before-HeadG-Column1-Header1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	text-align: left;
	vertical-align: top;
	background-color: #e5e5e5;
}

.TableStyle-before-HeadG-Column1-Header1 p
{
	
}

.TableStyle-before-HeadI-Column2-Header1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	text-align: left;
	vertical-align: top;
	background-color: #e5e5e5;
}

.TableStyle-before-HeadI-Column2-Header1 p
{
	
}

.TableStyle-before-HeadE-Column2-Header1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	text-align: left;
	vertical-align: top;
	background-color: #e5e5e5;
	border-bottom-width: 2pt;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-before-HeadE-Column2-Header1 p
{
	
}

.TableStyle-before-HeadF-Column2-Header1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	text-align: left;
	vertical-align: top;
	background-color: #e5e5e5;
	border-bottom-width: 2pt;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-before-HeadF-Column2-Header1 p
{
	
}

.TableStyle-before-HeadH-Column2-Header1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	text-align: left;
	vertical-align: top;
	background-color: #e5e5e5;
}

.TableStyle-before-HeadH-Column2-Header1 p
{
	
}

.TableStyle-before-HeadD-Column2-Header1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	text-align: left;
	vertical-align: top;
	background-color: #e5e5e5;
	border-bottom-width: 2pt;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-before-HeadD-Column2-Header1 p
{
	
}

.TableStyle-before-HeadC-Column2-Header1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	text-align: left;
	vertical-align: top;
	background-color: #e5e5e5;
}

.TableStyle-before-HeadC-Column2-Header1 p
{
	
}

.TableStyle-before-HeadB-Column2-Header1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	text-align: left;
	vertical-align: top;
	background-color: #e5e5e5;
}

.TableStyle-before-HeadB-Column2-Header1 p
{
	
}

.TableStyle-before-HeadA-Column2-Header1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	text-align: left;
	vertical-align: top;
	background-color: #e5e5e5;
}

.TableStyle-before-HeadA-Column2-Header1 p
{
	
}

.TableStyle-before-HeadG-Column2-Header1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	text-align: left;
	vertical-align: top;
	background-color: #e5e5e5;
}

.TableStyle-before-HeadG-Column2-Header1 p
{
	
}

.TableStyle-before-Foot-Footer1
{
	
}

.TableStyle-before-FootI-Column1-Footer1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	text-align: left;
	vertical-align: top;
	border-right-style: none;
}

.TableStyle-before-FootI-Column1-Footer1 p
{
	
}

.TableStyle-before-FootE-Column1-Footer1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	text-align: left;
	vertical-align: top;
	border-right-style: none;
}

.TableStyle-before-FootE-Column1-Footer1 p
{
	
}

.TableStyle-before-FootF-Column1-Footer1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	text-align: left;
	vertical-align: top;
	border-right-style: none;
}

.TableStyle-before-FootF-Column1-Footer1 p
{
	
}

.TableStyle-before-FootH-Column1-Footer1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	text-align: left;
	vertical-align: top;
	border-right-style: none;
}

.TableStyle-before-FootH-Column1-Footer1 p
{
	
}

.TableStyle-before-FootD-Column1-Footer1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-before-FootD-Column1-Footer1 p
{
	
}

.TableStyle-before-FootC-Column1-Footer1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	text-align: left;
	vertical-align: top;
	border-right-style: none;
}

.TableStyle-before-FootC-Column1-Footer1 p
{
	
}

.TableStyle-before-FootB-Column1-Footer1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	text-align: left;
	vertical-align: top;
	border-right-style: none;
}

.TableStyle-before-FootB-Column1-Footer1 p
{
	
}

.TableStyle-before-FootA-Column1-Footer1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-before-FootA-Column1-Footer1 p
{
	
}

.TableStyle-before-FootG-Column1-Footer1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-before-FootG-Column1-Footer1 p
{
	
}

.TableStyle-before-FootI-Column2-Footer1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-before-FootI-Column2-Footer1 p
{
	
}

.TableStyle-before-FootE-Column2-Footer1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-before-FootE-Column2-Footer1 p
{
	
}

.TableStyle-before-FootF-Column2-Footer1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-before-FootF-Column2-Footer1 p
{
	
}

.TableStyle-before-FootH-Column2-Footer1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-before-FootH-Column2-Footer1 p
{
	
}

.TableStyle-before-FootD-Column2-Footer1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-before-FootD-Column2-Footer1 p
{
	
}

.TableStyle-before-FootC-Column2-Footer1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-before-FootC-Column2-Footer1 p
{
	
}

.TableStyle-before-FootB-Column2-Footer1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-before-FootB-Column2-Footer1 p
{
	
}

.TableStyle-before-FootA-Column2-Footer1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-before-FootA-Column2-Footer1 p
{
	
}

.TableStyle-before-FootG-Column2-Footer1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-before-FootG-Column2-Footer1 p
{
	
}

.TableStyle-before-Body-Body1
{
	
}

.TableStyle-before-BodyI-Column1-Body1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
	border-right-style: none;
}

.TableStyle-before-BodyI-Column1-Body1 p
{
	
}

.TableStyle-before-BodyE-Column1-Body1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
	border-right-style: none;
}

.TableStyle-before-BodyE-Column1-Body1 p
{
	
}

.TableStyle-before-BodyF-Column1-Body1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
	border-right-style: none;
}

.TableStyle-before-BodyF-Column1-Body1 p
{
	
}

.TableStyle-before-BodyH-Column1-Body1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
	border-right-style: none;
}

.TableStyle-before-BodyH-Column1-Body1 p
{
	
}

.TableStyle-before-BodyD-Column1-Body1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
}

.TableStyle-before-BodyD-Column1-Body1 p
{
	
}

.TableStyle-before-BodyC-Column1-Body1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	text-align: left;
	vertical-align: top;
	border-right-style: none;
}

.TableStyle-before-BodyC-Column1-Body1 p
{
	
}

.TableStyle-before-BodyB-Column1-Body1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	text-align: left;
	vertical-align: top;
	border-right-style: none;
}

.TableStyle-before-BodyB-Column1-Body1 p
{
	
}

.TableStyle-before-BodyA-Column1-Body1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-before-BodyA-Column1-Body1 p
{
	
}

.TableStyle-before-BodyG-Column1-Body1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
}

.TableStyle-before-BodyG-Column1-Body1 p
{
	
}

.TableStyle-before-BodyI-Column2-Body1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
}

.TableStyle-before-BodyI-Column2-Body1 p
{
	
}

.TableStyle-before-BodyE-Column2-Body1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
}

.TableStyle-before-BodyE-Column2-Body1 p
{
	
}

.TableStyle-before-BodyF-Column2-Body1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
}

.TableStyle-before-BodyF-Column2-Body1 p
{
	
}

.TableStyle-before-BodyH-Column2-Body1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
}

.TableStyle-before-BodyH-Column2-Body1 p
{
	
}

.TableStyle-before-BodyD-Column2-Body1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
}

.TableStyle-before-BodyD-Column2-Body1 p
{
	
}

.TableStyle-before-BodyC-Column2-Body1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-before-BodyC-Column2-Body1 p
{
	
}

.TableStyle-before-BodyB-Column2-Body1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-before-BodyB-Column2-Body1 p
{
	
}

.TableStyle-before-BodyA-Column2-Body1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	text-align: left;
	vertical-align: top;
}

.TableStyle-before-BodyA-Column2-Body1 p
{
	
}

.TableStyle-before-BodyG-Column2-Body1
{
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	border-bottom-style: none;
	text-align: left;
	vertical-align: top;
}

.TableStyle-before-BodyG-Column2-Body1 p
{
	
}


